.container {
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

header h1 {
    display: inline;
    margin-left
}

nav li {
    display: inline-block;
    padding: 10px;
}


img {
    width: 10%;
}

article {
    background-color: gray;
    border-radius: 5px;
    width: 300px;
    float: left;
    margin: 10px;
}
article img {
    width: 100px;
}

article h3 {
    font-size: 1.5em;
    font-family: "Courier New";
    text-align: center;
}



